<div>
  <!--<div class="room-link-cnt" data-offset-top="60" data-offset-bottom="200">-->
  <!--<a class="room-link"-->
  <!--role="button"-->
  <!--(click)="selectRoom(room)"-->
  <!--[ngClass]="{'room-active': isActive(room)}"-->
  <!--*ngFor="let room of rooms">{{room.label}}</a>-->
  <!--</div>-->

  <!--<div class="row row-1140" style="margin: 20px; display: none;">-->
  <!--<div class="col-lg-4">-->
  <!--tag:-->
  <!--<select class="form-control"-->
  <!--id="selectedTag"-->
  <!--name="selectedTag"-->
  <!--[ngModel]="selectedTag"-->
  <!--(ngModelChange)="selectTag($event)">-->
  <!--<option [ngValue]="null">all</option>-->
  <!--<option *ngFor="let tag of tags" [ngValue]="tag">{{tag.name}}</option>-->
  <!--</select>-->

  <!--</div>-->

  <!--<div class="col-lg-4 col-md-4 col-xs-6">-->
  <!--level:<br/>-->

  <!--<div class="btn-group" role="group" aria-label="selectedLevel">-->
  <!--<button type="button" class="btn btn-default"-->
  <!--[class.active]="isLevelSelected('beginner')"-->
  <!--(click)="selectLevel('beginner')">beginner-->
  <!--</button>-->
  <!--<button type="button" class="btn btn-default"-->
  <!--[class.active]="isLevelSelected('advanced')"-->
  <!--(click)="selectLevel('advanced')">advanced-->
  <!--</button>-->
  <!--</div>-->

  <!--</div>-->

  <!--<div class="col-lg-4 col-md-4 col-xs-6">-->
  <!--language: <br/>-->

  <!--<div class="btn-group" role="group" aria-label="selectedLanguage">-->
  <!--<button type="button" class="btn btn-default"-->
  <!--[class.active]="isLanguageSelected('polish')"-->
  <!--(click)="selectLanguage('polish')">polish-->
  <!--</button>-->
  <!--<button type="button" class="btn btn-default"-->
  <!--[class.active]="isLanguageSelected('english')"-->
  <!--(click)="selectLanguage('english')">english-->
  <!--</button>-->
  <!--</div>-->

  <!--</div>-->
  <!--</div>-->
</div>
