<section class="pt100 pb50 bg-white ">
  <div>
    <h3>Participants</h3>
    <div style="text-align: right; margin-bottom: 20px;">
      <button class="btn btn-warning" (click)="sendTickets()">Send Tickets</button>
      <button class="btn btn-warning" (click)="sendSurveys()">Send Surveys</button>
    </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> id</th>
          <td mat-cell *matCellDef="let row"> {{row.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> name</th>
          <td mat-cell *matCellDef="let row"> {{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> email</th>
          <td mat-cell *matCellDef="let row"> {{row.email}}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> gender</th>
          <td mat-cell *matCellDef="let row"> {{row.gender}}</td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> size</th>
          <td mat-cell *matCellDef="let row"> {{row.size}}</td>
        </ng-container>
        <ng-container matColumnDef="arrivalDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> arrivalDate</th>
          <td mat-cell *matCellDef="let row"> {{row.arrivalDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="registeredBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> registeredBy</th>
          <td mat-cell *matCellDef="let row"> {{row.registeredBy}}</td>
        </ng-container>
        <ng-container matColumnDef="ticketSendDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ticketSendDate</th>
          <td mat-cell *matCellDef="let row"> {{row.ticketSendDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="surveySendDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> surveySendDate</th>
          <td mat-cell *matCellDef="let row"> {{row.surveySendDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isAdmin</th>
          <td mat-cell *matCellDef="let row"> {{row.admin}}</td>
        </ng-container>
        <ng-container matColumnDef="isVolunteer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isVolunteer</th>
          <td mat-cell *matCellDef="let row"> {{row.volunteer}}</td>
        </ng-container>
        <ng-container matColumnDef="isSpeaker">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isSpeaker</th>
          <td mat-cell *matCellDef="let row"> {{row.speaker}}</td>
        </ng-container>
        <ng-container matColumnDef="hasAcceptedPresentation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> hasAcceptedPresentation</th>
          <td mat-cell *matCellDef="let row"> {{row.hasAcceptedPresentation}}</td>
        </ng-container>
        <ng-container matColumnDef="isParticipant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isParticipant</th>
          <td mat-cell *matCellDef="let row"> {{row.participant}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <cf-person-modal></cf-person-modal>
</section>
