<div class="agenda-table">
  <div class="agenda-table__content"></div>
  <div class="agenda-table__content"
       *ngFor="let room of selectedRooms">
    {{room.name}}
  </div>
  <ng-container
    *ngFor="let slot of slots; index as slotIndex;  odd as isOdd; even as isEven "
    [class.row--white]="(slotIndex%2)==0"
    [class.row--beige]="(slotIndex%2)!=0">
    <div class="agenda-table__content agenda-table__time">{{slot.start}} - {{slot.end}}</div>

    <div *ngIf="slot.forAllRooms; then singleSlot else perRoom; index"></div>
    <ng-template #singleSlot>
      <div class="agenda-table__content agenda-table__content--{{selectedRooms.length}}-columns">
        <cf-agenda-entry-display class="agenda-table__entry" [entry]="filteredAgenda[slotIndex][0]"
                                 *ngIf="filteredAgenda[slotIndex].length>0"></cf-agenda-entry-display>
      </div>
    </ng-template>
    <ng-template #perRoom>
      <div class="agenda-table__content agenda-table__content--{{selectedRooms.length}}-columns"
           *ngFor="let room of selectedRooms; index as roomIndex">
        <cf-agenda-entry-display class="agenda-table__entry" [entry]="agenda[slotIndex][rooms.indexOf(room)]"></cf-agenda-entry-display>
      </div>
    </ng-template>
  </ng-container>
</div>

